
body{
    font-family: "Open Sans sans serif", sans-serif;
    background: #2d323d;
    color: whitesmoke;
}
.friends{
    display: inline-block;
}
.friend1{
    width: 800px;
    height: 80px;
    text-align: left;
    background-color: #272b34c6;
    border-radius: 10px;
}
.logo{
    border-radius: 50%;
    width: 50px;
}
.jobboldalicucc{
    display: inline-block;
}

::-webkit-scrollbar { width: 9px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #00000099;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}

.text{
    display: inline-block;
}
.ppic{
    display: inline-block;
    border-radius: 50%;
    width: 50px;
}