
body{
    font-family: "Open Sans sans serif", sans-serif;
    background: #2d323d;
    color: whitesmoke;
}
.friends{
    display: inline-block;
}
.friend1{
    width: 800px;
    height: 80px;
    text-align: left;
    background-color: #272b34c6;
    border-radius: 10px;
}
.logo{
    border-radius: 50%;
    width: 50px;
}
.jobboldalicucc{
    display: inline-block;
}

::-webkit-scrollbar {
     width: 9px; height: 3px;
}
::-webkit-scrollbar-button {  
    background-color: #66666600; 
}
::-webkit-scrollbar-track {
      background-color: #64646400;
    }
::-webkit-scrollbar-track-piece { 
    background-color: #00000074;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb { 
    height: 50px; background-color: #666666; border-radius: 3px;
}
::-webkit-scrollbar-corner { 
    background-color: #646464;
}
::-webkit-resizer { 
    background-color: #66666600;
}

.text{
    display: inline-block;
}
.ppic{
    display: inline-block;
    border-radius: 50%;
    width: 50px;
}
.friendadd{
    background-color: #248046;
    color: beige;
    border-color: #00000000;
    border-radius: 5px;
    display: flex;
}
.cim{
    display: flex;
}